:root {
  --primary-color: #e02c6d;
  --text-color: #3a3a3a;
  --white: #ffffff;
}

/* ---------------------------
        utilities start
------------------------------*/

/* google poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 25px;
}

/* ---------------------------
        utilities end
------------------------------*/

/* ---------------------------
        header start
------------------------------*/
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
}
.site-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
}
.mobile-menu {
  display: none;
}
.navbar,
.menu ul {
  display: flex;
  align-items: center;
  gap: 34px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}
.cart-desktop img,
.cart-mobile img {
  width: 36px;
  height: 36px;
}
.cart-mobile {
  display: none;
}
/* ---------------------------
        header end
------------------------------*/

/* ---------------------------
        hero section start
------------------------------*/

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
.hero-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: var(--text-color);
}
.hero-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  margin: 16px 0;
}
.btn-primary {
  padding: 10px 25px;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
.btn-primary i {
  margin-left: 8px;
}
.hero-img {
  background: url("../images/Circle\ design.svg") no-repeat center;
  padding: 40px 20px;
  object-fit: cover;
}

/* ---------------------------
        hero section end
------------------------------*/

/* responsive area  */
/* for mobile */

@media screen and (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  /* menu */
  .header-container {
    padding-top: 35px;
    padding-bottom: 22px;
  }
  .cart-desktop,
  .menu {
    display: none;
  }
  .cart-mobile {
    display: block;
    order: 2;
  }
  .mobile-menu {
    display: block;
  }
  .navbar,
  .menu ul {
    gap: 12px;
  }
  .logo {
    order: 1;
  }

  /* hero */
  .hero-container {
    gap: 1px !important;
    flex-direction: column-reverse;
    margin-top: -45px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-title {
    font-size: 28px;
    line-height: 42px;
  }
  .hero-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  .hero-img {
    transform: scale(0.8);
  }
}
